*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    overflow: hidden;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dotted-circle 
{
    height:17rem ;
    width:17rem ;
    background-color:transparent;
    border: dashed 4px rgba(4, 56, 243, 0.502);
    border-radius: 50%;
    animation: rotate 30s linear infinite;
    position: absolute;
    z-index: -1;
}

.circle-content,.circle,.dotted-circle,.tickmark{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle{
    height: 15rem;
    width: 15rem;
    background-color: rgba(0, 153, 255, 0.15);
    border-radius: 50%;
}

#file
{
    display:none;
}

@keyframes rotate
{
    0%
    {
        transform: rotate(0);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.tick
{
    width: 80px; 
    height: 80px;
    position: absolute;
    transform: scale(0);  
    transition: transform 1s ease;
}


#upload-form,#div-button
{
    display: none;
}

#upload-form
{
    position: absolute;
    top: 0;
    z-index:1;
}

#div-button
{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%);

    /* margin: 3rem auto 0; */
    font-family: "Poppins",sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: #5858ff;
    border: none;
    padding: 1rem;
    color: #fbfbfb;
    width: 7rem;
    border-radius: 0.35rem;
    cursor: pointer;
}


